@charset "utf-8";
	.image
{
	background-image : url(image.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 362px;
	top : 148px;
	width : 83px;
	height : 85px;
}
.image1
{
	background-image : url(image1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 258px;
	top : 42px;
	width : 289px;
	height : 552px;
}
